@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

.sidebarItems {
  @apply w-full flex gap-5 items-center justify-between bg-white py-2 px-6 text-dark rounded-2.5xl transition duration-150 hover:bg-gray-200;
}

.active {
  @apply bg-primary text-white hover:bg-[#207f40];
}

.bulan-selected {
  @apply bg-primary-20;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
